.box {
  margin: 10px auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start stretch;
}
.add-note {
  flex: 1;
  border: 0px;
  border-radius: 10px;
  font-size: 20px;
}
.note-area {
  flex: 5;
  border-radius: 10px;
}
