.note {
  display: flex;
  flex-direction: column;
  margin: 1px;
  background: #eee;
  border-radius: 5px;
  min-height: 50px;
}

.actions {
  flex-direction: row;
}

.content {
  padding: 5px;
}

.delete-note {
  padding: 5px;
  background: rgb(233, 128, 128);
  color: #fff;
  cursor: pointer;
  width: 10px;
  float: right;
}
