.note {
  display: flex;
  flex-direction: column;
  margin: 1px;
  background: rgb(31, 29, 29);
  border-radius: 5px;
  min-height: 50px;
  color: #fff;
}

.actions {
  flex-direction: row;
}

.content {
  padding: 5px;
}

.delete-note {
  padding: 5px;
  color: #fff;
  cursor: pointer;
}

.delete-note:hover {
  color: red;
}
